nodered.js
[{"id":"be8c2382.4173e","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<!--[if IE 9]><html class=\"lt-ie10\" lang=\"en\" > <![endif]-->\n<html class=\"no-js\" lang=\"en\" >\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>BlueCalc</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css\">\n    <link rel=\"stylesheet\" href=\"https://rawgit.com/BluemixCloud/calculator/master/style.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js\"></script>\n</head>\n<body>\n    \n    <div class=\"row\">\n        <div class=\"small-12 columns\">\n            <h1><a href=\"/calculator\">BlueCalc</a></h1>\n\n            <div class=\"panel callout radius\">\n                <form method=\"post\" action=\"/calculator\">\n                  <div class=\"row\">\n                    <div class=\"small-1 columns\">\n                        <input type=\"number\" placeholder=\"3\" name=\"x\" value=\"{{payload.x}}\">\n                    </div>\n                    <div class=\"small-1 columns\">\n                        <input type=\"text\" placeholder=\"+\" name=\"operator\" value=\"{{payload.operator}}\">\n                    </div>\n                    <div class=\"small-1 columns\">\n                        <input type=\"number\" placeholder=\"5\" name=\"y\" value=\"{{payload.y}}\">\n                    </div>\n                    <div class=\"small-1 columns\">\n                        <button type=\"submit\" class=\"tiny radius success\">=</button>\n                    </div>\n                    <div class=\"small-1 columns\">\n                        <input type=\"number\" disabled value=\"{{payload.result}}\">\n                    </div>\n                    <div class=\"small-7 columns\">\n                    </div>\n                  </div>\n                </form>\n            </div>\n\n        </div>\n    </div>\n    \n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js\"></script>\n    <script>\n    $(document).foundation();\n    </script>\n    <script src=\"https://rawgit.com/BluemixCloud/calculator/master/main.js\"></script>\n</body>\n</html>\n","x":523,"y":144,"z":"5b211ae3.a4dee4","wires":[["d1a2fed7.2e5d"]]},{"id":"5c2f4e4.fa3d0b","type":"http in","name":"","url":"/calculator","method":"get","swaggerDoc":"","x":173,"y":142,"z":"5b211ae3.a4dee4","wires":[["be8c2382.4173e"]]},{"id":"29bd3a77.d642c6","type":"http in","name":"","url":"/calculator","method":"post","swaggerDoc":"","x":177,"y":236,"z":"5b211ae3.a4dee4","wires":[["6b179729.94e868"]]},{"id":"d1a2fed7.2e5d","type":"http response","name":"","x":725,"y":144,"z":"5b211ae3.a4dee4","wires":[]},{"id":"6b179729.94e868","type":"function","name":"","func":"var x = msg.payload.x * 1;\nvar y = msg.payload.y * 1;\nvar result;\n\nswitch(msg.payload.operator){\n    case \"+\":\n        result = x + y;\n        break;\n    case \"-\":\n        result = x - y;\n        break;\n    case \"*\":\n        result = x * y;\n        break;\n    case \"/\":\n        result = x / y;\n}\n\nmsg.payload.result = result;\nreturn msg;\n","outputs":1,"noerr":0,"x":374,"y":236,"z":"5b211ae3.a4dee4","wires":[["be8c2382.4173e"]]}]
